@import "reset";
@import "colors";
@import "size";

// common-layout start
#app {
  height: 100vh;
}
.app-g-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.app-g-container-wrapper{
  padding: 0;
  max-width:none;
  height: 100%
}
.page {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 30px;
  min-width: $contents-min-width;
}
// common-layout end
